<div class="kt-portlet">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
      <h3 class="kt-portlet__head-title">
        {{data.title}}
      </h3>
    </div>
  </div>
  <!--begin::Form-->
  <div class="kt-form">
    <div class="kt-portlet__body">
     
      <div mat-dialog-content >
      
        <div> 
          <p [innerHTML]="data.desc"></p>  
        </div>
         
      </div>  
    </div>
    <div class="kt-portlet__foot">
      <div class="kt-form__actions">
       
        <button color="accent" mat-raised-button style="margin-right:10px" (click)="onYesClick()" cdkFocusInitial> {{data.buttonYes}}</button>
        <button mat-raised-button color="warn"  (click)="onNoClick()">{{data.buttonNo}}</button>
      </div>
    </div>
  </div>

  <!--end::Form-->
</div>